.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;

  margin-left: 140px;
  margin-right: 140px;
  position: relative;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-top: 50px;
}

.cart-container {
  background-color: rgba(255, 197, 163, 0.671);
  position: sticky;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .shop-container {
    grid-template-columns: 2fr, 3fr;
  }
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
